@charset "UTF-8";

div  {
  display: inline-block;
  background-color: lightblue;
  border: 1px solid black;
  text-align: center;
  height: 200px;
  width: 200px;
}

div:hover {
  background-color: brown;
}

/* Seletores personalizados, correspondência entre
html = css
# = id
. = class
: = pseudo-class
:: = pseudo-element
> = children
*/