@charset "UTF-8";
body {
  background-color: #E0FFB8;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  color: #799950;
  background-color: bisque;
}
/*id em html é # em css (só um por página)
  class em html é . em css (pode mais de um. inclusive um mesmo elemento pode pertencer a míltiplas classes)*/

h1#principal {
  text-align: center;
  color: #8A4099;
  background-color: #C0E68E;
}

h2 {
  color: #8A4099;
}

.basico {
  color: rgb(66, 143, 31);
}

.intermedio {
  color: rgb(149, 151, 16);
}

.avanc {
  color: rgb(202, 61, 26);
}